{% from '_includes/forms' import field as renderField, selectField %}
{% set fields = component.getType().getSchema().fields %}

<div id="tab-content" class="flex-fields">
    {{ hiddenInput('id', component.id) }}
    {{ hiddenInput('elementId', component.elementId) }}
    {{ hiddenInput('fieldId', component.fieldId) }}

    {% namespace 'fields' %}
        {% for field in fields %}
            {{ renderField({
                id: field.handle,
                label: field.name,
            }, field.getInputHtml(field.normalizeValue(component.data[field.handle]))) }}
        {% endfor %}
    {% endnamespace %}
</div>
<div id="tab-design" class="flex-fields {{ fields.isNotEmpty() ? 'hidden' }}">
    {% namespace 'fields[_attributes]' %}
        {% for type in create('markhuot\\keystone\\actions\\GetAttributeTypes').handle() %}
            {{ create(type, {value: component.data._attributes[type]|default(null) }).getInputHtml()|raw }}
            <hr>
        {% endfor %}
        {#
        {{ create('markhuot\\keystone\\styles\\Display', {value: component.data._attributes['markhuot\\keystone\\styles\\Display']|default(null) }).getInputHtml()|raw }}
        {{ create('markhuot\\keystone\\styles\\Border', {value: component.data._attributes['markhuot\\keystone\\styles\\Border']|default(null) }).getInputHtml()|raw }}
        {{ create('markhuot\\keystone\\styles\\Margin', {value: component.data._attributes['markhuot\\keystone\\styles\\Margin']|default(null) }).getInputHtml()|raw }}
        {{ create('markhuot\\keystone\\styles\\Padding', {value: component.data._attributes['markhuot\\keystone\\styles\\Padding']|default(null) }).getInputHtml()|raw }}
        {{ create('markhuot\\keystone\\styles\\SpaceBetween', {value: component.data._attributes['markhuot\\keystone\\styles\\SpaceBetween']|default(null) }).getInputHtml()|raw }}
        {{ create('markhuot\\keystone\\styles\\Rotate', {value: component.data._attributes['markhuot\\keystone\\styles\\Rotate']|default(null) }).getInputHtml()|raw }}
        #}
    {% endnamespace %}
</div>
<div id="tab-admin" class="flex-fields hidden">
    <button type="button" class="btn formsubmit" data-action="" data-params='{"{{ craft.app.getView().namespace }}[action]": "keystone/components/delete"}'>Delete</button>
</div>
