{% from '_includes/forms' import field as renderField, selectField %}

<div id="tab-content" class="flex-fields">
    {{ hiddenInput('id', component.id) }}
    {{ hiddenInput('elementId', component.elementId) }}
    {{ hiddenInput('fieldId', component.fieldId) }}

    {% namespace 'fields' %}
        {% for field in component.getType().getSchema().fields %}
            {{ renderField({
                id: field.handle,
                label: field.name,
            }, field.getInputHtml(field.normalizeValue(component.data[field.handle]))) }}
        {% endfor %}
    {% endnamespace %}
</div>
<div id="tab-styles" class="flex-fields hidden">
    {% namespace 'fields[_styles]' %}
        {{ create('markhuot\\keystone\\styles\\Display', {value: component.data._styles['markhuot\\keystone\\styles\\Display']|default(null) }).getInputHtml() }}
        {{ create('markhuot\\keystone\\styles\\Border', {value: component.data._styles['markhuot\\keystone\\styles\\Border']|default(null) }).getInputHtml() }}
    {% endnamespace %}
</div>
<div id="tab-admin" class="flex-fields hidden">
    <button type="button" class="btn formsubmit" data-action="" data-params='{"{{ craft.app.getView().namespace }}[action]": "keystone/components/delete"}'>Delete</button>
</div>
