{% from '_includes/forms' import field as renderField %}
{% set fields = component.getType().getSchema().fields %}
{% set attributeTypes = create('markhuot\\keystone\\actions\\GetAttributeTypes').handle() %}
{% set namespace = craft.app.getView().namespace %}

<div id="tab-content" class="flex-fields">
    {{ hiddenInput('id', component.id) }}
    {{ hiddenInput('elementId', component.elementId) }}
    {{ hiddenInput('fieldId', component.fieldId) }}

    {% namespace 'fields' %}
        {% for field in fields %}
            {{ renderField({
                id: field.handle,
                label: field.name,
            }, field.getInputHtml(field.normalizeValue(component.data[field.handle]))) }}
        {% endfor %}
    {% endnamespace %}
</div>

{% include "keystone/edit/design" with {fields: fields, component: component, namespace: namespace, attributeTypes: attributeTypes} only %}

<div id="tab-admin" class="flex-fields hidden">
    <button type="button" class="btn formsubmit" data-action="" data-params='{"{{ craft.app.getView().namespace }}[action]": "keystone/components/delete"}'>Delete</button>
</div>
