{% do view.registerAssetBundle("markhuot\\keystone\\assetbundles\\KeystoneAssetBundle") %}

<style>
    ul ul .foo { display: block; }
    ul:not(:has(ul li)) .baz { display: none; }
    .k-collapsed ul { display: none; }
</style>

{% macro layer(component, element, field) %}
    {% set lastOrder = 0 %}
    {% set slots = component.getType().getSlotDefinitions() %}
    {% for slot in slots %}
        {% if slots|length > 1 %}
            <div class="k-block k-uppercase k-text-[8px] k-ml-[2rem] k-text-gray-400 [.k-collapsed_&]:k-hidden">{{ slot.name ?? 'content' }}</div>
        {% endif %}
        <ul style="margin-left: 2rem;">
            {% for child in component.getSlot(slot.name) %}
                <li class="k-relative {{ child.getType().hasSlots() and child.isCollapsed() ? 'k-collapsed' }}"
                    draggable="true"
                    data-draggable="{{ child.id }}"
                    data-draggable-type="{{ child.getType().getHandle() }}"
                    data-draggable-type-name="{{ child.getType().getName() }}"
                    data-dragtarget="{{ child.id }}"
                    data-dragtarget-slot="{{ slot.name }}"
                    data-dragtarget-whitelist="{{ slot.whitelist|join(',') }}"
                    data-dragtarget-blacklist="{{ slot.blacklist|join(',') }}"
                >
                    <a class="k-absolute baz [&:hover>div]:k-bg-blue-600 k-top-[1.3rem] k-left-0 k-bottom-[1rem] k-w-[24px] hover:k-z-10" href="#" @click="post('{{ actionUrl('keystone/components/toggle-disclosure', child.getQueryCondition()) }}').then(() => $event.target.closest('li').classList.toggle('k-collapsed'))">
                        <div class="k-w-[1px] k-bg-gray-300 k-absolute k-h-full k-left-1/2 -k-translate-x-1/2"></div>
                    </a>
                    <div class="k-flex k-justify-between" data-draggable-row>
                        <div class="k-relative">
                            <div class="foo k-hidden k-pointer-events-none" style="height:10px; width: 2rem; position: absolute; top: 0.4em; left: -20px; border-radius: 0 0 0 10px; border-width: 0 0 1px 1px; border-color: rgba(96,125,159,.25); box-shadow: -2px 2px 0 white;"></div>
                            <a class="k-text-link" href="#" @click="slideout('{{ cpUrl('keystone/components/edit', child.getQueryCondition()) }}').swap('[data-field-id=&quot;{{ field.id }}&quot;]')">
                                <div style="background: white; display: inline-block; position: relative; padding: 4px;">{{ child.getType().getIcon({class: 'k-w-4 k-inline'})|raw }}</div>
                                {{ child.getType().getName() }}
                                <span class="k-text-gray-400">{{ child.getSummary() }}</span>
                            </a>
                            <a class="k-expander k-hidden k-ml-1 [.k-collapsed_&]:k-inline-flex k-bg-gray-200 k-rounded k-w-5 k-h-3 k-text-gray-800 k-justify-center k-items-center hover:k-no-underline hover:k-bg-blue-500 hover:k-text-white" href="#" @click="post('{{ actionUrl('keystone/components/toggle-disclosure', child.getQueryCondition()) }}').then(() => $event.target.closest('li').classList.toggle('k-collapsed'))">⋯</a>
                            {{ hiddenInput('nodes[]', child.id ~ '@' ~ child.dateUpdated) }}
                        </div>
                    </div>
                    {{ _self.layer(child, element, field) }}
                </li>
                {% set lastOrder = lastOrder + 1 %}
            {% endfor %}
            <li data-dragtarget="{{ component.id }}"
                data-dragtarget-position="beforeend"
                data-dragtarget-slot="{{ slot.name }}"
                data-dragtarget-whitelist="{{ slot.whitelist|join(',') }}"
                data-dragtarget-blacklist="{{ slot.blacklist|join(',') }}"
            >
                <div data-draggable-row class="k-relative">
                    <div class="foo k-hidden k-pointer-events-none" style="height:10px; width: 2rem; position: absolute; top: 0.4em; left: -20px; border-radius: 0 0 0 10px; border-width: 0 0 1px 1px; border-color: rgba(96,125,159,.25); box-shadow: -2px 2px 0 white;"></div>
                    <button @click="slideout('keystone/components/add', {{ {
                        elementId: element.id,
                        fieldId: field.id,
                        path: component.getChildPath(),
                        slot: slot.name,
                        sortOrder: lastOrder
                    }|json_encode }}).swap('[data-field-id=&quot;{{ field.id }}&quot;]')" class="k-text-gray-400" style="background: white;">
                        <div style="background: white; display: inline-block; position: relative; padding: 4px;">
                            <svg class="k-w-4 k-inline k-stroke-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H134v34a6,6,0,0,1-12,0V134H88a6,6,0,0,1,0-12h34V88a6,6,0,0,1,12,0v34h34A6,6,0,0,1,174,128Z"></path></svg>
                        </div>
                        Add
                    </button>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endmacro %}

<div style="margin-left: -2rem;" data-field-id="{{ field.id }}" x-data='{}'>
    {{ _self.layer(component, element, field) }}
</div>
