<ul class="k-grid k-grid-cols-3 k-gap-8">
    {{ hiddenInput('element', element.id) }}
    {{ hiddenInput('field', field.id) }}
    {{ hiddenInput('path', path) }}
    {{ hiddenInput('slot', slot) }}
    {{ hiddenInput('sortOrder', sortOrder) }}
    {% for type in types %}
        <li>
            <label class="k-block [&:has(:checked)]:k-bg-blue-500 [&:has(:checked)]:k-text-white [&:has(:checked)]:k-border-blue-900 k-border-2 k-border-slate-800 k-rounded-lg k-p-4">
                <input type="radio" name="type" value="{{ type.getHandle() }}" class="k-hidden">
                {{ type.getIcon({class: 'k-w-8 k-text-current'}) }}
                {{ type.getName() }}
            </label>
        </li>
    {% endfor %}
</ul>
