<ul>
    {{ hiddenInput('elementId', element.id) }}
    {{ hiddenInput('fieldId', field.id) }}
    {{ hiddenInput('path', path) }}
    {{ hiddenInput('slot', slot) }}
    {% for type in types %}
        <li>
            <label>
                <input type="radio" name="type" value="{{ type.getHandle() }}">
                {{ type.getName() }}
            </label>
        </li>
    {% endfor %}
</ul>
