{% from '_includes/forms' import color, colorField, field, select, selectField, lightswitch %}

<div>
    <div class="k-space-y-6">
        {{ colorField({
            label: 'Background Color',
            name: name ~ '[color]',
            value: value.color|default,
        }) }}

        {% namespace name %}
            {% set assetField = create('craft\\fields\\Assets', [{
                handle: 'image',
                defaultUploadLocationSource: 'volume:' ~ craft.app.getVolumes().getAllVolumes()[0].uid,
            }]) %}
            {{ field({label: 'Background Image'}, assetField.getInputHtml(assetField.normalizeValue(value.image|default)))|raw }}
        {% endnamespace %}

        <div class="k-grid k-grid-cols-3">
            <div class="k-space-y-2">
                <div>Position</div>
                {{ select({
                    'name': name ~ '[position]',
                    'options': [
                        {value: 'bottom', label: 'bottom'},
                        {value: 'center', label: 'center'},
                        {value: 'left', label: 'left'},
                        {value: 'left bottom', label: 'left bottom'},
                        {value: 'left top', label: 'left top'},
                        {value: 'right', label: 'right'},
                        {value: 'right bottom', label: 'right bottom'},
                        {value: 'right top', label: 'right top'},
                        {value: 'top', label: 'top'},
                    ],
                    value: value.position|default
                }) }}
            </div>
            <div class="k-space-y-2">
                <div>Repeat</div>
                {{ lightswitch({
                    'name': name ~ '[repeat]',
                    on: value.repeat|default(false),
                }) }}
            </div>
            <div class="k-space-y-2">
                <div>Size</div>
                {{ select({
                    'name': name ~ '[size]',
                    'options': [
                        {value: 'auto', label: 'auto'},
                        {value: 'cover', label: 'cover'},
                        {value: 'contain', label: 'contain'},
                    ],
                    value: value.size|default
                }) }}
            </div>
        </div>

        {{ selectField({
            'label': 'Background Clip',
            'name': name ~ '[clip]',
            'options': [
                {value: 'border', label: 'border'},
                {value: 'padding', label: 'padding'},
                {value: 'content', label: 'content'},
                {value: 'text', label: 'text'},
            ],
            value: value.clip|default
        }) }}
    </div>
</div>
