{% from '_includes/forms' import field as renderField, textField %}
{% embed "_includes/forms/field" %}
    {% block input %}
        <div class="k-relative">
            <input type="hidden" name="{{ name ~ '[useExpanded]' }}" value="0">
            <input type="checkbox" name="{{ name ~ '[useExpanded]' }}" value="1" id="{{ id ~ 'expand' }}" class="k-peer k-hidden" {{ value.useExpanded|default(false) ? 'checked' }}>

            <div class="peer-checked:k-hidden">
                {% include "_includes/forms/text" with { name: name ~ '[shorthand]', value: value.shorthand|default } %}
            </div>

            <label for="{{ id ~ 'expand' }}" class="k-absolute k-top-1/2 k-right-0 -k-translate-y-1/2 k-mr-2 k-rounded k-bg-ui-control k-p-1 peer-checked:k-hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="k-w-4" viewBox="0 0 256 256"><path d="M91.76,60.24a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,0l32,32a6,6,0,1,1-8.48,8.48L134,38.49V96a6,6,0,0,1-12,0V38.49L100.24,60.24A6,6,0,0,1,91.76,60.24Zm64,135.52L134,217.51V160a6,6,0,0,0-12,0v57.51l-21.76-21.75a6,6,0,0,0-8.48,8.48l32,32a6,6,0,0,0,8.48,0l32-32a6,6,0,0,0-8.48-8.48Zm80.48-72-32-32a6,6,0,0,0-8.48,8.48L217.51,122H160a6,6,0,0,0,0,12h57.51l-21.75,21.76a6,6,0,1,0,8.48,8.48l32-32A6,6,0,0,0,236.24,123.76ZM38.49,134H96a6,6,0,0,0,0-12H38.49l21.75-21.76a6,6,0,0,0-8.48-8.48l-32,32a6,6,0,0,0,0,8.48l32,32a6,6,0,0,0,8.48-8.48Z"></path></svg>
            </label>
            <label for="{{ id ~ 'expand' }}" class="k-absolute k-top-1/2 k-right-0 -k-translate-y-1/2 k-mr-2 k-rounded k-bg-ui-control k-p-1 k-hidden peer-checked:k-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="k-w-4" viewBox="0 0 256 256"><path d="M91.76,68.24a6,6,0,0,1,8.48-8.48L122,81.51V24a6,6,0,0,1,12,0V81.51l21.76-21.75a6,6,0,0,1,8.48,8.48l-32,32a6,6,0,0,1-8.48,0Zm40.48,87.52a6,6,0,0,0-8.48,0l-32,32a6,6,0,0,0,8.48,8.48L122,174.49V232a6,6,0,0,0,12,0V174.49l21.76,21.75a6,6,0,0,0,8.48-8.48ZM232,122H174.49l21.75-21.76a6,6,0,0,0-8.48-8.48l-32,32a6,6,0,0,0,0,8.48l32,32a6,6,0,0,0,8.48-8.48L174.49,134H232a6,6,0,0,0,0-12Zm-131.76,1.76-32-32a6,6,0,0,0-8.48,8.48L81.51,122H24a6,6,0,0,0,0,12H81.51L59.76,155.76a6,6,0,1,0,8.48,8.48l32-32A6,6,0,0,0,100.24,123.76Z"></path></svg>
            </label>

            <div class="k-hidden peer-checked:k-grid k-grid-cols-3 k-justify-items-center k-border k-border-hairline k-p-2 k-rounded-sm" data-edit-expanded>
                <p class="k-text-center k-col-start-2 k-text-gray-400"><span class="k-uppercase k-text-xs k-block">top</span>{% include "_includes/forms/text" with { name: name ~ '[expanded][top]', value: value.expanded.top|default, class: 'k-w-[3rem]', size: 1000 } %}</p>
                <p class="k-text-center k-col-start-1 k-text-gray-400"><span class="k-uppercase k-text-xs k-block">left</span> {% include "_includes/forms/text" with { name: name ~ '[expanded][left]', value: value.expanded.left|default, class: 'k-w-[3rem]', size: 1000 } %}</p>
                <p class="k-text-center k-col-start-3 k-text-gray-400"><span class="k-uppercase k-text-xs k-block">right</span> {% include "_includes/forms/text" with { name: name ~ '[expanded][right]', value: value.expanded.right|default, class: 'k-w-[3rem]', size: 1000 } %}</p>
                <p class="k-text-center k-col-start-2 k-text-gray-400"><span class="k-uppercase k-text-xs k-block">bottom</span> {% include "_includes/forms/text" with { name: name ~ '[expanded][bottom]', value: value.expanded.bottom|default, class: 'k-w-[3rem]', size: 1000 } %}</p>
            </div>
        </div>
    {% endblock %}
{% endembed %}
